html,
body,
#app {
    margin: auto;
    width: 264px;
    height: 100%;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
}

.root {
    width: 100%;
    height: 100%;
}

.court-provider {
    width: 100%;
    height: 100%;
    background: #c4e1ff;
}

.sportsman {
    width: 100%;
    height: 100%;
    background: #272727;
}
